body {
        font-family: 'Roboto', sans-serif;
}

a:hover,
a:visited,
a:active {
        text-decoration: none;
}

a {
        font-weight: 700;
        font-size: 3em;
        color: #4c8ba2;
}

a:hover {
        color: #1572b6;
}

ul {
        list-style: none;
}

body {
        background: #1e1e1e;
}

li {
        line-height: 4em;
        letter-spacing: 0.2em;
}

div.search,
div.links {
        margin-top: 30px;
}

.form-control {
        background: #555;
        color: #4c8ba2;
        font-size: 1.2em;
        line-height: 1.2em;
}